# Environment vars for jcs cli
#
# If you want to modify this file to put in your credentials (of course you
# want to do that :) ), then create a copy of this file with name openrc:
#      cp openrc.sample openrc
# and source that file
#      source openrc

# Provide your access and secret keys
export ACCESS_KEY=
export SECRET_KEY=
