# Environment vars for jcs cli
#
# If you want to modify this file to put in your credentials (of course you
# want to do that :) ), then create a copy of this file with name openrc:
#      cp openrc.sample openrc
# and source that file
#      source openrc
#
# You can also specify your custom service URL, if any, in this file. For
# example:
#     RDS_URL=https://compute.ind-west-1.staging.jiocloudservices.com
# will point to staging endpoint if you add this variable here, and source this
# file

# Provide your access and secret keys
export ACCESS_KEY=
export SECRET_KEY=
